// Файл обнуляющих стилей
@import "nullstyle.scss";
body {
	background-color: #red;
	margin: 0;
}
ul {
	margin: 0 auto;
}
.header-top {
	display: inline-block;
}
.header-logo {
}
.header-menu {
}
.menu {
}
.header-button {
}
.button {
}
